#!/usr/bin/zsh

{{- if and (not .isRoot) .isMainLaptop }}

########################################################################################
## niaflow project compilation options
# export NIAFLOWEXT_DEBUG=true
# export NIAFLOWEXT_SKIP=1

########################################################################################
## Ubuntu / Debian packaging
# This causes pbuilder to fail building if the symbols are incorrect.
# export DPKG_GENSYMBOLS_CHECK_LEVEL=4
# export DEB_BUILD_OPTIONS=nocheck
# export DEV_BUILD_DIR_ROOT=.build
# export DEBEMAIL="foo@local.dev"
# export DEBFULLNAME="Foo"

########################################################################################
## Misc
# export FLASK_ENV=development
# export ZEPHYR_SDK_INSTALL_DIR="$HOME/.local/opt"
# export QT_LOGGING_RULES="kwin_*.debug=true"

{{- end }}
